.clients {
  padding: 20px;
}

.clients .client-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100px; /* Adjusted height for medium size */
  margin: 0 15px; /* Adjusted margin for spacing */
  cursor: pointer;
}

.clients .client-logo img {
  height: 60px; /* Adjusted height for medium size */
  transition: transform 0.4s ease-in-out;
}

.clients .client-logo:hover img {
  transform: scale(1.1); /* Slightly reduced zoom on hover */
}


.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: autoScroll 30s linear infinite; /* Adjusted duration for smoother scrolling */
}

.client-logo {
  flex: 0 0 auto;
  margin: 0 10px;
}

@keyframes autoScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100px * 8)); /* Adjusted calculation for smoother animation */
  }
}

.carousel:hover {
  animation-play-state: paused;
}